[submodule "js-promises-and-async-programming/async-programming-promises"]
	path = js-promises-and-async-programming/async-programming-promises
	url = https://github.com/taylonr/async-programming-promises.git
